<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width={{ slide_width | default(1280) }}">
    <title>{{ title | default("Fast Slide") }}</title>
    <link rel="stylesheet" href="{{ static_url }}/vendor/highlightjs/github-dark.min.css">
    <style>
{{ inline_css | safe }}
    </style>
</head>
<body>
    <div class="presentation">
        {% for slide in slides %}
            {% if slide.layout == "cover_title_right" %}
                {% include "slides/cover_title_right.html" %}
            {% elif slide.layout == "cover_title_left" %}
                {% include "slides/cover_title_left.html" %}
            {% elif slide.layout == "default" %}
                {% include "slides/default.html" %}
            {% elif slide.layout == "summary" %}
                {% include "slides/summary.html" %}
            {% endif %}
        {% endfor %}
    </div>
    <script src="{{ static_url }}/vendor/highlightjs/highlight.min.js"></script>
    <script>
hljs.configure({ ignoreUnescapedHTML: true });
hljs.highlightAll();
    </script>
    <script src="{{ static_url }}/vendor/mermaid/mermaid.min.js"></script>
    <script>
mermaid.initialize({
    startOnLoad: true,
    theme: 'default',
    themeVariables: {
        background: '#FFFFFF'
    }
});
    </script>
</body>
</html>
