name: Python package

on:
  push:
    tags:
      - v*
    branches:
    - main
  pull_request:
    branches:
    - main

permissions:
  contents: write

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true


jobs:
  StaticChecks:
    name: Static Checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.13'

      - name: Setup UV
        run: pip install uv

      - name: Install dependencies
        run: uv sync --all-extras

      - name: Execute Static Checks
        run: uv run task lint

  BuildPackage:
    name: Build Package
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.13'

      - name: Setup UV
        run: pip install uv

      - name: Execute Build
        run: uv build

  Publish:
    name: Publish
    runs-on: ubuntu-latest
    needs: [StaticChecks, BuildPackage]
    environment:
      name: pypi
      url: https://pypi.org/p/gyjd
    permissions:
      id-token: write
    if: startsWith(github.ref, 'refs/tags/v')
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.13'

      - name: Setup UV
        run: pip install uv

      - name: Build package
        run: uv build

      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
